<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SusuView</servlet-name>
        <servlet-class>controller.SusuView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SusuInsert</servlet-name>
        <servlet-class>controller.SusuInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SusuEdit</servlet-name>
        <servlet-class>controller.SusuEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SusuDelete</servlet-name>
        <servlet-class>controller.SusuDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusView</servlet-name>
        <servlet-class>controller.StatusView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusInsert</servlet-name>
        <servlet-class>controller.StatusInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusEdit</servlet-name>
        <servlet-class>controller.StatusEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusDelete</servlet-name>
        <servlet-class>controller.StatusDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaketView</servlet-name>
        <servlet-class>controller.PaketView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaketInsert</servlet-name>
        <servlet-class>controller.PaketInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaketEdit</servlet-name>
        <servlet-class>controller.PaketEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaketDelete</servlet-name>
        <servlet-class>controller.PaketDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderView</servlet-name>
        <servlet-class>controller.OrderView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInsert</servlet-name>
        <servlet-class>controller.OrderInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderEdit</servlet-name>
        <servlet-class>controller.OrderEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDelete</servlet-name>
        <servlet-class>controller.OrderDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SusuView</servlet-name>
        <url-pattern>/SusuView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SusuInsert</servlet-name>
        <url-pattern>/SusuInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SusuEdit</servlet-name>
        <url-pattern>/SusuEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SusuDelete</servlet-name>
        <url-pattern>/SusuDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusView</servlet-name>
        <url-pattern>/StatusView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusInsert</servlet-name>
        <url-pattern>/StatusInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusEdit</servlet-name>
        <url-pattern>/StatusEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusDelete</servlet-name>
        <url-pattern>/StatusDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaketView</servlet-name>
        <url-pattern>/PaketView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaketInsert</servlet-name>
        <url-pattern>/PaketInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaketEdit</servlet-name>
        <url-pattern>/PaketEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaketDelete</servlet-name>
        <url-pattern>/PaketDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderView</servlet-name>
        <url-pattern>/OrderView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInsert</servlet-name>
        <url-pattern>/OrderInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderEdit</servlet-name>
        <url-pattern>/OrderEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDelete</servlet-name>
        <url-pattern>/OrderDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Dashboard</welcome-file>
    </welcome-file-list>
</web-app>
